services:
  agendaamiga_db:
    image: postgres:16
    container_name: agendaamiga_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: agenda_amiga_db
    ports:
      - "5433:5432"
    volumes:
      - agendaamiga_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d agenda_amiga_db"]
      interval: 5s
      timeout: 5s
      retries: 20

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
      target: development
    container_name: agendaamiga_api
    working_dir: /app
    ports:
      - "3000:3000"
    env_file:
      - ./.env.local
    depends_on:
      agendaamiga_db:
        condition: service_healthy
    volumes:
      - ./apps/api:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

volumes:
  agendaamiga_db_data:
