server:
  port: 3001

spring:
  datasource:
    url: jdbc:postgresql://ep-crimson-bar-adwl8131-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: Ag3nda!Am1ga#2025Db@
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  sql:
    init:
      mode: never

  mail:
    host: smtp.gmail.com
    port: 587
    username: rodrigomuinhodev@gmail.com
    password: ${SPRING_MAIL_PASSWORD:izucaaxwlsohqzab}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    secret: ${JWT_SECRET:averylongjwtsecretthatmustbe32chars}
    expiration-ms: ${JWT_EXPIRATION_MS:86400000}

  auth:
    password-reset-ttl-minutes: ${AUTH_PASSWORD_RESET_TTL:30}

  frontend:
    origin: ${FRONTEND_ORIGIN:http://localhost:3000}
